.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 450px;
    height: fit-content;
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 0px 4px 16px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.list {
    width: 100%;
}
